@use "../../styles/mixins" as *;
.immaga {
    margin: auto;
    margin-bottom: 2rem;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include tablet {
        flex-direction: row;
    }

    &__myImg {
        height: 50%;
        width: 70%;
        @include tablet {
            margin-left: 1rem;
            width: 41%;
            height: 50%; 
        }
    }
    &__wrapper {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        margin: 0 2rem;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-left: 2rem;
        display: flex;
        justify-content: space-between;
    }

}