@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.hero {
  background-image: url(../../assets/images/02_copia.jpg);
  background-size: cover;
  background-position: center center;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 20rem 0;
  padding-bottom: 0;

  &__title {
    color: rgb(54, 18, 138);
    font-size: 6rem;
    font-style: italic;
    max-width: 42.5rem;
    padding: 1rem 3rem;
    @include tablet {
      font-size: 8rem;
      max-width: 50rem;
    }
  }
}

.rainbow {
  background-image: linear-gradient(
    to right,
    violet,
    rgb(141, 11, 233),
    rgb(18, 18, 237),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
