@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.hero {
  background-image: url(../../assets/images/02_copia.jpg);
  background-size: cover;
  background-position: center center;
  height: 50%;
  width: 100%;
  margin: 0;
  padding-top: 5rem;
  padding-left: 1rem;
  &__title {
    color: rgb(209, 233, 114);
    font-size: 2rem;
    font-style: italic;
    max-width: 42.5rem;
    @include tablet {
      font-size: 4rem;
      max-width: 50rem;
    }
  }
}
.rainbow {
  background-image: linear-gradient(
    to right,
    violet,
    rgb(141, 11, 233),
    rgb(18, 18, 237),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}