.immaga {
    margin: auto;
    margin-bottom: 2rem;
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__myImg {
        width: 40%;
        height: 50%;
    }
    &__wrapper {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }

}